Repository Sma1lboy/sma1lboy.me: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

feat: implement interactive canvas with circle splitting functionality and enhance layout with personal introduction and social links
  .husky/pre-commit
  package.json
  public/home-avatar.png
  src/page/Home.tsx
Due: prettier --write, eslint --fix, eslint

feat: add InteractiveAvatar component and update Home page to utilize it, along with new avatar images
  public/home-avatar-2.png
  public/home-avatar.png
  src/components/InteractiveAvatar.tsx
  src/components/index.ts
  src/page/Home.tsx
Due: prettier --write, eslint --fix, eslint

feat: enhance circle splitting logic in InteractiveAvatar by incorporating center and diagonal emphasis for improved visual distribution
  src/components/InteractiveAvatar.tsx
Due: prettier --write, eslint --fix, eslint

feat: integrate TanStack Router for improved routing and navigation, add new route structure, and remove deprecated components
  .cursor/rules/package-manager.mdc
  package.json
  src/App.tsx
  src/page/RootErrorBoundary.tsx
  src/page/index.ts
  src/routeTree.gen.ts
  src/routes/$.tsx
  src/routes/__root.tsx
  src/routes/index.tsx
  vite.config.ts
Due: prettier --write, eslint --fix, eslint

feat: update homepage layout with new title and favicon, add project showcase section with animations, and integrate framer-motion for enhanced user experience
  .cursor/rules/no-dev-server.mdc
  index.html
  package.json
  public/favicon.ico
  public/favicon.png
  public/vite.svg
  src/routes/index.tsx
Due: prettier --write, eslint --fix, eslint

feat: add SmoothCursor component for enhanced user interaction, update Home component with project showcase, and include new images in the project
  package.json
  public/images/foxychat-preview.png
  public/images/personal-preview.png
  public/images/taskforge-preview.png
  src/components/home/index.tsx
  src/components/index.ts
  src/components/ui/smooth-cursor.tsx
  src/routes/__root.tsx
  src/routes/index.tsx
Due: prettier --write, eslint --fix, eslint

Add Pochi rules, refactor Home component, implement Dock UI, and remove SmoothCursor
  README.pochi.md
  src/components/home/index.tsx
  src/components/magicui/dock.tsx
  src/components/ui/smooth-cursor.tsx
  src/routes/__root.tsx
Due: prettier --write, eslint --fix, eslint

feat: update featured projects descriptions and technologies for improved clarity and accuracy
  src/components/home/index.tsx
Due: prettier --write, eslint --fix, eslint

feat: add pre-push hook for linting and formatting checks, update lint-staged and Prettier configurations, and improve code consistency across files
  .husky/pre-push
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  .vscode/settings.json
  README.md
  eslint.config.js
  package.json
  src/App.tsx
  src/components/InteractiveAvatar.tsx
  src/components/index.ts
  src/components/ui/button.tsx
  src/constants/index.ts
  src/helpers/demo.ts
  src/index.css
  src/main.tsx
  src/routes/$.tsx
  src/routes/index.tsx
  src/utils/cn.ts
  tsconfig.node.json
  vite.config.ts
Due: prettier --write, eslint --fix, eslint

fix: update lint scripts to remove unnecessary file extensions for improved consistency
  eslint.config.js
  package.json
  src/components/home/index.tsx
Due: prettier --write, eslint --fix, eslint

feat: implement avatar caching mechanism with Zustand for improved performance and memory management
  package.json
  src/components/InteractiveAvatar.tsx
  src/store/avatarCacheStore.ts
Due: prettier --write, eslint --fix, eslint

feat: integrate Safari component for project previews in Home component
  src/components/home/index.tsx
  src/components/magicui/safari.tsx
Due: prettier --write, eslint --fix, eslint

feat: implement auto-play functionality for project carousel and enhance navigation controls
  src/components/home/index.tsx
Due: prettier --write, eslint --fix, eslint

refactor: main component into diff components
  src/components/InteractiveAvatar.tsx
  src/components/home/HeroSection.tsx
  src/components/home/NavigationDock.tsx
  src/components/home/ProjectCarousel.tsx
  src/components/home/ProjectsSection.tsx
  src/components/home/SocialLinks.tsx
  src/components/home/index.tsx
  src/constants/home.ts
  src/data/index.ts
Due: prettier --write, eslint --fix, eslint

style: enhance responsiveness and spacing across components
  src/components/home/HeroSection.tsx
  src/components/home/NavigationDock.tsx
  src/components/home/ProjectCarousel.tsx
  src/components/home/ProjectsSection.tsx
  src/components/home/SocialLinks.tsx
  src/components/home/index.tsx
  src/components/magicui/dock.tsx
Due: prettier --write, eslint --fix, eslint

docs: update README with project details
  README.md
Due: prettier --write

docs: update README with project details (#7)
  README.md
Due: prettier --write

style: improve layout spacing and responsiveness in HeroSection component
  src/components/home/HeroSection.tsx
Due: prettier --write, eslint --fix, eslint

style: enhance dark mode support and improve text readability across components
  src/components/home/HeroSection.tsx
  src/components/home/ProjectCarousel.tsx
  src/components/home/ProjectsSection.tsx
  src/components/home/SocialLinks.tsx
  src/components/home/index.tsx
  src/index.css
Due: prettier --write, eslint --fix, eslint

update
  .husky/pre-push
Due: none

docs: update README formatting for improved clarity and consistency
  README.md
Due: prettier --write

docs: add guidelines for creating pull requests in markdown
  .pochi/workflows/create-pr.md
Due: prettier --write

docs: add guidelines for creating pull requests in markdown (#8)
  .pochi/workflows/create-pr.md
Due: prettier --write

feat: add comprehensive tech stack section with interactive filtering
  src/components/home/NavigationDock.tsx
  src/components/home/TechStackSection.tsx
  src/components/home/index.tsx
Due: prettier --write, eslint --fix, eslint

feat: add comprehensive tech stack section with interactive filtering (#9)
  src/components/home/NavigationDock.tsx
  src/components/home/TechStackSection.tsx
  src/components/home/index.tsx
Due: prettier --write, eslint --fix, eslint

feat: define TechCategory type for improved type safety in TechItem
  src/components/home/TechStackSection.tsx
Due: prettier --write, eslint --fix, eslint

docs: clarify code style guidelines for page component development
  README.pochi.md
Due: prettier --write

docs: update code style guidelines to reference src/index.css for page component development
  README.pochi.md
Due: prettier --write

feat: add improved experience timeline and waterfall components
  src/components/home/ExperienceTimeline.tsx
  src/components/home/ExperienceTimelineImproved.tsx
  src/components/home/ExperienceWaterfall.tsx
  src/components/home/NavigationDock.tsx
  src/components/home/index.tsx
  src/constants/experiences.ts
  src/types/index.ts
Due: prettier --write, eslint --fix, eslint

Feat/experience section english localization (#10)
  README.pochi.md
  src/components/home/ExperienceTimeline.tsx
  src/components/home/ExperienceTimelineImproved.tsx
  src/components/home/ExperienceWaterfall.tsx
  src/components/home/NavigationDock.tsx
  src/components/home/TechStackSection.tsx
  src/components/home/index.tsx
  src/constants/experiences.ts
  src/types/index.ts
Due: prettier --write, eslint --fix, eslint

chore: remove Chinese social media link
  src/constants/home.ts
Due: prettier --write, eslint --fix, eslint

feat: add bilingual friends page with Chinese localization
  src/components/friends/FriendsGrid.tsx
  src/components/friends/FriendsHeader.tsx
  src/components/friends/index.tsx
  src/components/home/NavigationDock.tsx
  src/components/index.ts
  src/constants/friends.ts
  src/routeTree.gen.ts
  src/routes/friends.tsx
Due: prettier --write, eslint --fix, eslint

feat: add friends section
  src/components/home/FriendsSection.tsx
  src/components/home/NavigationDock.tsx
  src/components/home/index.tsx
  src/constants/friends.ts
  src/types/index.ts
Due: prettier --write, eslint --fix, eslint

fix: resolve build error in home component
  bun.lock
  src/components/home/index.tsx
Due: prettier --write, eslint --fix, eslint

Revert "fix: resolve build error in home component"
  bun.lock
  src/components/home/index.tsx
Due: prettier --write, eslint --fix, eslint

Revert "feat: add friends section"
  src/components/home/FriendsSection.tsx
  src/components/home/NavigationDock.tsx
  src/components/home/index.tsx
  src/constants/friends.ts
  src/types/index.ts
Due: prettier --write, eslint --fix, eslint

Revert 'feat: add friends section' (#19)
  bun.lock
  src/components/home/FriendsSection.tsx
  src/components/home/NavigationDock.tsx
  src/components/home/index.tsx
  src/constants/friends.ts
  src/types/index.ts
Due: prettier --write, eslint --fix, eslint

feat: add improved experience timeline and waterfall components
  README.pochi.md
Due: prettier --write

fix: remove tanstack router devtools
  src/routes/__root.tsx
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  eslint: any of: *.{js,jsx,ts,tsx}
