Repository Sma1lboy/sma1lboy.me: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --max-warnings 0

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --check", "eslint --max-warnings 0"],
  "*.{json,md,yml,yaml}": ["prettier --check"]
}

feat: Add 2048 game at /apps/2048
  src/components/apps/2048/Game2048.tsx
  src/components/apps/2048/Game2048Preview.tsx
  src/routeTree.gen.ts
  src/routes/apps/2048.lazy.tsx
  src/routes/apps/2048.tsx
  src/routes/apps/index.tsx
Due: prettier --check, eslint --max-warnings 0

feat: Add Weather Widget at /apps/weather
  src/components/apps/weather/Weather.tsx
  src/components/apps/weather/WeatherPreview.tsx
  src/routeTree.gen.ts
  src/routes/apps/index.tsx
  src/routes/apps/weather.lazy.tsx
  src/routes/apps/weather.tsx
Due: prettier --check, eslint --max-warnings 0

feat: Add Tetris game at /apps/tetris
  src/components/apps/tetris/TetrisGame.tsx
  src/components/apps/tetris/TetrisPreview.tsx
  src/components/ui/breadcrumbs.tsx
  src/routeTree.gen.ts
  src/routes/apps/index.tsx
  src/routes/apps/tetris.lazy.tsx
  src/routes/apps/tetris.tsx
Due: prettier --check, eslint --max-warnings 0

feat: Add Currency Converter at /apps/currency
  src/components/apps/currency/CurrencyConverter.tsx
  src/components/apps/currency/CurrencyPreview.tsx
  src/routes/apps/currency.lazy.tsx
  src/routes/apps/currency.tsx
  src/routes/apps/index.tsx
Due: prettier --check, eslint --max-warnings 0

feat: Add Stopwatch & Countdown Timer at /apps/timer
  src/components/apps/timer/Timer.tsx
  src/components/apps/timer/TimerPreview.tsx
  src/routes/apps/timer.lazy.tsx
  src/routes/apps/timer.tsx
Due: prettier --check, eslint --max-warnings 0

feat: Add Password Generator at /apps/password
  src/components/apps/password/Password.tsx
  src/components/apps/password/PasswordPreview.tsx
  src/components/ui/breadcrumbs.tsx
  src/routeTree.gen.ts
  src/routes/apps/index.tsx
  src/routes/apps/password.lazy.tsx
  src/routes/apps/password.tsx
Due: prettier --check, eslint --max-warnings 0

feat: Add Unit Converter at /apps/units
  src/components/apps/units/UnitConverter.tsx
  src/components/apps/units/UnitsPreview.tsx
  src/routes/apps/index.tsx
  src/routes/apps/units.lazy.tsx
  src/routes/apps/units.tsx
Due: prettier --check, eslint --max-warnings 0

feat: Add Lorem Ipsum Generator at /apps/lorem
  src/components/apps/lorem/LoremGenerator.tsx
  src/components/apps/lorem/LoremPreview.tsx
  src/routeTree.gen.ts
  src/routes/apps/index.tsx
  src/routes/apps/lorem.lazy.tsx
  src/routes/apps/lorem.tsx
Due: prettier --check, eslint --max-warnings 0

feat: Add Cron Expression Parser at /apps/cron
  src/components/apps/cron/CronParser.tsx
  src/components/apps/cron/CronPreview.tsx
  src/routeTree.gen.ts
  src/routes/apps/cron.lazy.tsx
  src/routes/apps/cron.tsx
  src/routes/apps/index.tsx
Due: prettier --check, eslint --max-warnings 0

feat: Add Epoch/Date Converter at /apps/epoch
  src/components/apps/epoch/EpochConverter.tsx
  src/components/apps/epoch/EpochPreview.tsx
  src/routes/apps/epoch.lazy.tsx
  src/routes/apps/epoch.tsx
  src/routes/apps/index.tsx
Due: prettier --check, eslint --max-warnings 0

feat: Add IP & Network Info tool at /apps/network
  src/components/apps/network/NetworkInfo.tsx
  src/components/apps/network/NetworkPreview.tsx
  src/components/ui/breadcrumbs.tsx
  src/routeTree.gen.ts
  src/routes/apps/index.tsx
  src/routes/apps/network.lazy.tsx
  src/routes/apps/network.tsx
Due: prettier --check, eslint --max-warnings 0

feat: Add CSS Box Shadow Generator at /apps/shadow
  src/components/apps/shadow/BoxShadowGenerator.tsx
  src/components/apps/shadow/ShadowPreview.tsx
  src/components/ui/breadcrumbs.tsx
  src/routeTree.gen.ts
  src/routes/apps/index.tsx
  src/routes/apps/shadow.lazy.tsx
  src/routes/apps/shadow.tsx
Due: prettier --check, eslint --max-warnings 0

feat: Add CSS Border Radius Generator at /apps/radius
  src/components/apps/radius/BorderRadiusGenerator.tsx
  src/components/apps/radius/RadiusPreview.tsx
  src/routeTree.gen.ts
  src/routes/apps/index.tsx
  src/routes/apps/radius.lazy.tsx
  src/routes/apps/radius.tsx
Due: prettier --check, eslint --max-warnings 0

fix: Resolve lint errors across game and utility components
  src/components/apps/2048/Game2048.tsx
  src/components/apps/diff/DiffPreview.tsx
  src/components/apps/life/LifePreview.tsx
  src/components/apps/minesweeper/MinesweeperGame.tsx
  src/components/apps/network/NetworkInfo.tsx
  src/components/apps/snake/SnakeGame.tsx
  src/components/apps/tetris/TetrisGame.tsx
  src/hooks/useCursorTrail.ts
Due: prettier --check, eslint --max-warnings 0

fix: Resolve TypeScript errors in NetworkInfo connection types
  src/components/apps/network/NetworkInfo.tsx
Due: prettier --check, eslint --max-warnings 0

docs: Refresh README with leaner layout and stack table
  README.md
Due: prettier --check

perf: Cut initial JS ~47% — lazy avatar, drop octokit, dedup motion, vendor chunks
  .gitignore
  bun.lock
  index.html
  package.json
  public/home-avatar.png
  public/home-avatar.webp
  public/og-image.jpg
  src/components/homes/home1/HeroSection.tsx
  src/components/homes/home2/index.tsx
  src/components/index.ts
  src/components/magicui/dock.tsx
  src/components/profile/index.tsx
  src/routes/index.tsx
  src/services/githubApi.ts
  vite.config.ts
Due: prettier --check, eslint --max-warnings 0

perf: Cut initial JS ~47% — lazy avatar, drop octokit, dedup motion, vendor chunks (#71)
  .gitignore
  bun.lock
  index.html
  package.json
  public/home-avatar.png
  public/home-avatar.webp
  public/og-image.jpg
  src/components/homes/home1/HeroSection.tsx
  src/components/homes/home2/index.tsx
  src/components/index.ts
  src/components/magicui/dock.tsx
  src/components/profile/index.tsx
  src/routes/index.tsx
  src/services/githubApi.ts
  vite.config.ts
Due: prettier --check, eslint --max-warnings 0

feat: Add DANY-inspired Home3 variant with three-column terminal layout
  src/components/homes/home3/ImageGallery.tsx
  src/components/homes/home3/Sidebar.tsx
  src/components/homes/home3/ThoughtsFeed.tsx
  src/components/homes/home3/index.tsx
  src/components/homes/index.ts
  src/routes/index.tsx
Due: prettier --check, eslint --max-warnings 0

feat: Add editorial density to Home3 with content types and sidebar sections
  src/components/homes/home3/ImageGallery.tsx
  src/components/homes/home3/Sidebar.tsx
  src/components/homes/home3/ThoughtsFeed.tsx
  src/components/homes/home3/index.tsx
  src/constants/thoughts.ts
  src/data/thoughts.json
Due: prettier --check, eslint --max-warnings 0

fix: Redesign Home3 gallery as stacked vertical layout with grayscale hover
  src/components/homes/home3/ImageGallery.tsx
  src/components/homes/home3/index.tsx
Due: prettier --check, eslint --max-warnings 0

fix: Pin Vercel to npm — bun install fails to reach the registry
  vercel.json
Due: prettier --check

Revert "fix: Pin Vercel to npm — bun install fails to reach the registry"
  vercel.json
Due: prettier --check

chore: Ignore .vercel — it holds pulled environment variables
  .gitignore
Due: none

fix: unbreak the Vercel build — install with npm, run on Node 24
  package.json
  vercel.json
Due: prettier --check

fix: unbreak the Vercel build — install with npm, run on Node 24 (#74)
  package.json
  vercel.json
Due: prettier --check

feat: add artifact-share to the ledger
  src/constants/products.ts
Due: prettier --check, eslint --max-warnings 0

feat: add artifact-share to the ledger (#73)
  src/constants/products.ts
Due: prettier --check, eslint --max-warnings 0

fix: rebuild bun.lock without the internal registry URLs
  bun.lock
Due: none

fix: rebuild bun.lock without the internal registry URLs (#75)
  bun.lock
Due: none

chore: gitignore registry config files
  .gitignore
Due: none

chore: gitignore registry config files (#76)
  .gitignore
Due: none
